@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 1000px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 1000px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1000px;
}

@media (prefers-color-scheme: dark) {
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #222;
  }
}
